/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 30px;
}

footer {
    margin-top: 30px;
}

/* Navbar */
.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff !important;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    padding: 10px 15px;
}

.navbar-nav .nav-link:hover {
    background-color: #555;
    border-radius: 5px;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #ffffff;
}

/* Hero Section */
#home {
    background: linear-gradient(to right, #007bff, #00c6ff);
    color: white;
    padding: 100px 0;
}

#home h1 {
    font-size: 3rem;
    font-weight: bold;
}

#home a {
    font-size: 1.2rem;
    padding: 10px 25px;
    text-transform: uppercase;
}

/* Main Content */
main {
    margin: 30px 0;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #343a40;
    margin-bottom: 20px
}